.container-main .main .content .item {
    position: relative;
    width: 160px;
    height: 220px;
    border: 2px solid var(--color-black);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
