.container-view {
    width: 100%;
    background: #202020;
    position: relative;
}
.container-view .title-view {
    color: var(--color-white);
    font-size: 32px;
    text-align: center;
    padding: 40px 0;
}
.container-view .btn-voltar {
    transition: 200ms;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-view .mode-view {
    position: absolute;
    left: 160px;
    top: 20px;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.container-view .control-cap {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
}
.container-view .control-cap .control-cap-left {
    transition: 200ms;
    width: 30px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    background: #ff9736;
    border: none;
    cursor: pointer;
}
.container-view .control-cap .control-cap-info {
    color: var(--color-black);
    font-size: 16px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-view .control-cap .control-cap-right {
    transition: 200ms;
    width: 30px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    background: #ff9736;
    border: none;
    cursor: pointer;
}
.container-view .control-cap .control-cap-content {
    animation: opacity-control-cap-content 200ms;
    position: absolute;
    top: 100%;
    left: 30px;
    width: 80px;
    height: 200px;
    border: 2px solid var(--color-black);
    background-color: var(--color-white);
    overflow: auto;
}
.container-view .control-cap .control-cap-content::-webkit-scrollbar {
    width: 0;
}
@keyframes opacity-control-cap-content {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.container-view .control-cap .control-cap-content ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.container-view .control-cap .control-cap-content ul li div {
    transition: 200ms;
    cursor: pointer;
    width: 76px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-view .control-cap .control-cap-content ul li div:hover {
    color: #ff9736;
    background-color: var(--color-black);
}
.container-view .control-cap .control-cap-content ul li div.selected {
    color: #ff9736;
    background-color: var(--color-black);
}
.container-view .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-view .content img {
    width: auto;
    max-width: 100%;
}
.container-view .control-pag {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
}
.container-view .control-pag .control-pag-left {
    transition: 200ms;
    width: 30px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    background: #ff9736;
    border: none;
    cursor: pointer;
}
.container-view .control-pag .control-pag-info {
    color: var(--color-black);
    font-size: 16px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-view .control-pag .control-pag-right {
    transition: 200ms;
    width: 30px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    background: #ff9736;
    border: none;
    cursor: pointer;
}
.container-view .control-pag .control-pag-content {
    animation: opacity-control-pag-content 200ms;
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 120px;
    height: 300px;
    border: 2px solid var(--color-black);
    background-color: var(--color-white);
    overflow: auto;
}
.container-view .control-pag .control-pag-content::-webkit-scrollbar {
    width: 0;
}
@keyframes opacity-control-pag-content {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.container-view .control-pag .control-pag-content ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.container-view .control-pag .control-pag-content ul li div {
    transition: 200ms;
    cursor: pointer;
    width: 116px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-view .control-pag .control-pag-content ul li div:hover {
    color: #ff9736;
    background-color: var(--color-black);
}
.container-view .control-pag .control-pag-content ul li div.selected {
    color: #ff9736;
    background-color: var(--color-black);
}
.container-view .proximo-capitulo {
    transition: 200ms;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}
.container-view .space {
    height: 40px;
    width: 100%;
    background-color: transparent;
}
.container-view .btn-voltar:hover,
.container-view .mode-view:hover,
.container-view .control-cap .control-cap-left:hover,
.container-view .control-cap .control-cap-right:hover,
.container-view .control-pag .control-pag-left:hover,
.container-view .control-pag .control-pag-right:hover,
.container-view .proximo-capitulo:hover {
    box-shadow: 0 0 3px #ff9736, 0 0 3px #ff9736, 0 0 5px #ff9736,
        0 0 5px #ff9736, 0 0 8px #ff9736, 0 0 8px #ff9736, 0 0 12px #ff9736,
        0 0 12px #ff9736;
}
