.container-view {
    width: 100%;
    background: #202020;
    position: relative;
}
.container-view .title-view {
    color: var(--color-white);
    font-size: 32px;
    text-align: center;
    padding: 40px 0;
}
.container-view .btn-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-view .mode-view {
    position: absolute;
    left: 160px;
    top: 20px;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.container-view .control-cap {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
}
.container-view .control-cap .control-cap-left {
    width: 30px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    background: #ff9736;
    border: none;
    cursor: pointer;
}
.container-view .control-cap .control-cap-info {
    color: var(--color-black);
    font-size: 16px;
    cursor: pointer;
}
.container-view .control-cap .control-cap-right {
    width: 30px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    background: #ff9736;
    border: none;
    cursor: pointer;
}
.container-view .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-view .content img {
    width: auto;
    max-width: 100%;
}
.container-view .control-pag {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
}
.container-view .control-pag .control-pag-left {
    width: 30px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    background: #ff9736;
    border: none;
    cursor: pointer;
}
.container-view .control-pag .control-pag-info {
    color: var(--color-black);
    font-size: 16px;
    cursor: pointer;
}
.container-view .control-pag .control-pag-right {
    width: 30px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    background: #ff9736;
    border: none;
    cursor: pointer;
}
.container-view .proximo-capitulo {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}
.container-view .space {
    height: 40px;
    width: 100%;
    background-color: transparent;
}
