.container-main {
    width: 100%;
}
.container-main .main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.container-main .main .title-main {
    color: var(--color-black);
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.container-main .main .content {
    width: 100%;
    background: var(--color-secondary);
    padding: 30px;
    display: grid;
    gap: 36px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 160px);
}
.container-main .main .content .title {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 158px;
    height: 56px;
    background: rgba(16, 16, 16, 0.6);
    color: var(--color-white);
    font-size: 16px;
    padding: 10px;
    overflow: auto;
}
.container-main .main .content .title::-webkit-scrollbar {
    width: 0px;
}
